node_modules/
**/node_modules/
.turbo/
**/.turbo/
.convax/
**/.convax/
.build/
**/.build/
dist/
**/dist/
out/
**/out/
coverage/
**/coverage/
**/resources/plugins/**/assets/
*.log
**/*.d.ts
**/*.gen.ts
**/*.generated.ts
